.contentGym {
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contentGym>p {
    width: 75%;
    margin-bottom: 40px;
}

.containerTable>table {
    border-collapse: collapse;
}

.containerTable>table>td {
    border: 1px solid #000;
}