.content {
    height: var(--height-content);
}

.profileInfoContent {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileInfo {
    width: 85%;
    height: 70%;
    display: flex;
    align-items: center;
}

.info {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.name,
.email {
    font-size: 20px;
    font-weight: bold;
}

.name:last-child,
.email:last-child {
    margin-left: 10px;
}

.nameDiv,
.emailDiv {
    width: 100%;
    display: flex;
}

.roomsContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rooms {
    width: 85%;
}

.roomsH3 {
    font-weight: bold;
}
.exitButton{
    position: absolute;
    right: 10vh;
    top: 10vh;
    padding: 10px 15px;  
    border: none;
    border-radius: 10%;
    background-color: #dadada;
    font-weight: bold;
    margin-top: 30px;
}
.exitButton:hover{
    color: #fff;
    cursor: pointer;
}