.content {
    height: var(--height-content);
}

.profileInfoContent {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileInfo {
    width: 85%;
    height: 70%;
    display: flex;
    align-items: center;
}

.info {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.name,
.email {
    font-size: 20px;
    font-weight: bold;
}

.name:last-child,
.email:last-child {
    margin-left: 10px;
}

.nameDiv,
.emailDiv {
    width: 100%;
    display: flex;
}

.roomsContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rooms {
    width: 85%;
}

.roomsH3 {
    font-weight: bold;
}