.AdminPanel {
    width: 100%;
    background-color: #808080;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 700px) {
  .AdminPanel>*{
    justify-content:space-evenly!important;
  }
}