.roomInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 75vh;
}

.room {
    width: 90%;
    height: 60vh;
}

.roomContent {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.image {
    width: 35%;
}

.image>img {
    max-width: 100%;
}

.number, .numberOfBeds, .quantityIsBusy, .square {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    padding-top: 28px;
}