.roomInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 75vh;
}

.room {
    width: 90%;
    height: 60vh;
}
.roomContentContainer{
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
}

.roomContent {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.image {
    width: 35%;
}

.image>img {
    max-width: 100%;
}

.number, .numberOfBeds, .quantityIsBusy, .square {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    padding-top: 28px;
}
.buttonReservatioin{
    position: relative;
    top: 0;
    right: 0;
}
.buttonReservation{
    padding: 10px 15px;
    border: none;
    border-radius: 10%;
    background-color: #dadada;
    font-weight: bold;
    display: flex;
}