.news {
    display: flex;
    min-height: 75vh;
    justify-content: center;
    flex-wrap: wrap;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
}