header {
    height: 7vh;
    box-shadow: 0 0 10px 0 #000;
    width: 100%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconBurger {
    height:30px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconBurger>svg, .iconProfile>svg {
    height: 25px;
}

.iconBurger:hover {
    cursor: pointer;
    background-color: rgba($color: #d3d3d3, $alpha: .5);
    border-radius: 10px;
}   

.nameCompany {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.company {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nameCompanyP {
    margin: 0 20px;
    font-weight: bold;
    color:#000;
    text-decoration: none;
}

.profileP {
    padding-right: 10px;
    font-weight: bold;
}

.contentHeader {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profileDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
}

.profileDiv:hover {
    cursor: pointer;
    background-color: rgba($color: #d3d3d3, $alpha: .5);
    border-radius: 10px;
}