.roomContent {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.roomBlock {
    width: 90%;
    box-shadow: 0 0 10px 0 #000;
    border-radius: 20px;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.roomBlockContent {
    width: 90%;
    height: 70%;
}

.header {
    font-weight: bold;
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.content {
    word-wrap: break-word;
}

.roomBlock:hover {
    cursor: pointer;
}

.roomBlock:hover .header {
    color: #ff6161;
}
