.newsContent {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.image {
    width: 30%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image>img {
    max-height: 100%;
    max-width: 100%;
}

.newsBlock {
    width: 90%;
    box-shadow: 0 0 10px 0 #000;
    border-radius: 20px;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newBlockContent {
    width: 90%;
    height: 70%;
}

.header {
    font-weight: bold;
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.content {
    word-wrap: break-word;
}

.header:hover {
    cursor: pointer;
}

.header:hover {
    color: #ff6161;
}

.newsContentBlock {
    width: 90%;
    display: flex;
    height: 90%;
    justify-content: center;
    align-items: center;
}